

article{
    max-width: 100%;
    margin: 0 auto;
    padding: 1.5em;
}

.imagen1{
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    float: right;
    margin: 1.5em;
    max-width: 30%;
}

.imagen2{
    float: left;
    margin: 1.5em;
    max-width: 30%;
}

